* {
    box-sizing: border-box;
}

body {
    background-color: #e8e8e8;
    display: grid;
    place-items: center;
    height: 100vh;
}

.container {
    background-color: #22252e;
    height: 550px;
    width: 300px;
    border-radius: 20px;
    position: relative;
    /* box-shadow: 5px 5px 5px 3px rgba(0, 0, 0, 0.75); */
}

.screen input {
    height: 200px;
    width: 97%;
    margin-top: 30px;
    text-align: right;
    outline: none;
    font-size: 35px;
    padding-top: 120px;
    background-color: #22252e;
    border: none;
    color: #fff;
}

.screen {
    text-align: right;
    color: #fff;
    font-size: 30px;
    width: 97%;
}

.buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    padding: 10px 10px;
    background-color: #2a2d37;
    border-radius: 20px;
    height: 330px;
}

.span-two {
    grid-row: 5/6;
    grid-column: 3/5;
    border: solid 0.2px #55b6a8;
    font-size: 35px;
    border-radius: 5px;
}

button {
    background-color: #2a2d37;
    padding: 0;
    margin: 0;
    border-width: 0;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}

button:hover {
    transform: scale(0.8);
    /* transition: transform 0.1s; */
}

.green {
    color: #55b6a8;
}

.orange {
    color: #f57b7e;
}

#time-paragraph {
    position: absolute;
    top: 0;
    left: 15px;
    color: #fff;
    font-size: 12px;
    animation: blink 2s linear infinite;
    color: #f57b7e;
}

@keyframes blink {
    0% {
        opacity: 0;
    }
    49% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

@media screen and (max-width: 768px) {
    body {
        margin: 0;
        border-radius: 20px;
    }
    .container {
        width: 100vw;
        height: 100vh;
        border-radius: 0;
    }
    .screen input {
        padding-right: 10px;
        padding-top: 200px;
        font-size: 35px;
        height: 272px;
    }
    .buttons {
        width: 100%;
        height: 410px;
    }
}

.previous-operand {
    height: 110px;
    padding-top: 100px;
    color: #55b6a8;
    font-size: 25px;
}

.new-operand {
    height: 110px;
    padding-top: 70px;
}